
//container of component
.features{
    grid-column: center-start/center-end;

    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    align-items: start;
    grid-gap:6rem

    
}
.feature{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 1.5rem;
    &__icon{
        color:$color-primary;
        font-size: 4.5rem;
        grid-row: 1 / 2 span;
        align-self: start;
    }

    &__text{
        font-size: 1.5rem;
    }
    
}