.realtors{
    background-color: $color-secondary;
    grid-column: col-start 7/ full-end;

    display: grid;
    align-items: center;
    justify-content: center;
    padding: 8rem;

    @media only screen and (max-width:$bp-medium) {
        
        grid-column: 1/-1;
    }

    

    h3{
       text-align: center;
       @media only screen and (max-width:$bp-medium) {
        margin-bottom: 3rem;
    }
    }

    &__list{
        display: grid;
        grid-template-columns: min-content max-content;
        align-items: center;
        grid-column-gap: 1.5rem;
        grid-row-gap: 5vh;

        @media only screen and (max-width:$bp-medium) {
            grid-template-columns:repeat(3, min-content max-content) ;
            grid-column-gap: 3vw;
        }
        @media only screen and (max-width:$bp-small) {
            grid-template-columns: min-content max-content;
        }
    }
    &__img{
        width: 7rem;
        border-radius: 50%;
        display: block;
        // align-self: center;
    }
    // &__details{
    //     align-self: center; 
    // }
    &__sold{
        text-transform: uppercase;
        color: $color-grey-light-2;
        margin-top: -3px;

    }
}