<div class="container">

  <div class="sidebar">
    sidebar
  </div>
 <header class="header">header</header>
  <div class="realtors">real</div>
  <section class="features">
    @for (feature of features; track feature.title) {
        <div class="feature">
          <i [ngClass]="feature.icon" class="feature__icon"></i>
         
          <h4 class="heading-4 heading-4--dark">{{feature.title}}</h4>
          <p class="feature__text">{{feature.description}}</p>
        </div>
    }
    
    
  </section>
  <div class="story__pictures">story img</div>
  <div class="story__content">story con</div>
  <section class="homes">homes</section>
  <section class="gallery">gallery</section>
  <footer class="footer">footer</footer> 
</div>