



/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');



*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;// 10px /16px(prowser default ) = 62.5% => 1rem = 10px
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: #fff;
    font-weight: 300;
    line-height: 1.6;
}

.container{
    display: grid;
    //rows and columns for all application
    grid-template-rows: 80vh min-content 40vw repeat(3,min-content) ;
                    // header-features-  story home-gallery-footer  
                    //         (auto = min-content)
    grid-template-columns:
    [sidebar-start]8rem [sidebar-end full-start]
     minmax(6rem ,1fr) 
     [center-start] repeat(8,[col-start] minmax(min-content,14rem)[col-end]) [center-end] 
     minmax(6rem ,1fr) [full-start];

    
}
//min-content=>بتخلي العرض بتاع العمود او الصف في حجم الكونتينت الصغير... يعني بتتتعامل مع المحتوي اللي جوا العمود او الصف
//max-content=>... يعني بتتتعامل مع المحتوي اللي جوا العمود او الصف بتخلي العرض بتاع العمود يكون في حجم الكونتينت الكبير
//minmax(min,max)=>بتتحكم في العرض انه يكون بين قميتين الكبيره والصغيره
//auto-fill=>بتعمل اعمده تملي كل العرض بتاع الجريد الرئيسي يعنى لو هو 1000 والعمود 100 يعني كده هتعمل 10 اعمده وتملاهم بالاعمده والصفوف اللي عندي ولو خلصم تعمل اعمده فاضيه
//auto-fit=> بتعمل زى الفيل بس بتصفر الاعمده الفاضيه مش بتديها عرض